/* line 4, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
html, body, table {
  width: 100%;
  height: 100%;
}

/* line 8, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
* {
  -webkit-transition: all 2s ease;
}

/* line 12, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.lemonchiffon {
  background-color: lemonchiffon;
}

/* line 15, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.green {
  background-color: green;
}

/* line 18, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.cadetblue {
  background-color: cadetblue;
}

/* line 21, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.lightcoral {
  background-color: lightcoral;
}

/* line 24, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.orange {
  background-color: orange;
}

/* line 27, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.gray {
  background-color: gray;
}

/* line 30, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.sienna {
  background-color: sienna;
}

/* line 34, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.four-square {
  font-size: 180px;
}
/* line 38, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.four-square.center tr {
  display: none;
}
/* line 44, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.four-square tr td {
  padding-left: 25%;
}
/* line 48, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.four-square tr.center {
  display: table-row;
}
/* line 50, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.four-square tr.center td {
  display: none;
}
/* line 55, /Users/vijaykumaragrawal/Workspace/myspace/kidjucator/app/assets/stylesheets/see_and_says.scss */
.four-square tr td.center {
  display: table-cell;
  padding-left: 50%;
  font-size: 330px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

